################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KonttiForReal/v14
/KonttiForReal/TrialLicense.tclrs
/KonttiForReal/TLR_BI_VE2434215.tclrq
